# Fichiers 3D volumineux
*.stl
*.obj
*.3mf
*.gcode
*.step
*.stp

# Dossiers de résultats
10cm*/
15cm/
continents/
enregistrement globe/

# Python cache
__pycache__/
*.pyc
*.pyo
impression3D/
.DS_Store
